/* Estilo Geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1rem;
}

main {
    padding: 20px;
}

#sunburst-graph {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}
