/* Estilo Geral */
body {
    font-family: 'Quicksand', sans-serif; /* Fonte arredondada */
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Fundo claro para o corpo */
    color: #333; /* Cor de texto padrão */
}

/* Cabeçalho */
header {
    background-color: #4567b2; /* Azul leve, mas não muito claro ou escuro */
    color: white;
    text-align: center;
    padding: 1.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para separar do corpo */
}

    header h1 {
        margin: 0;
        font-size: 2rem;
    }

/* Corpo Principal */
main {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para destacar o conteúdo */
}

    main section {
        margin-bottom: 20px;
    }

    main p {
        line-height: 1.6;
    }

/* Gráfico Sunburst */
#sunburst-graph {
    width: 100%;
    height: 400px;
    margin: 20px 0;
}

/* Rodapé */
footer {
    background-color: #4567b2; /* Mesmo azul do cabeçalho */
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1); /* Sombra para separar do corpo */
}

    footer p {
        margin: 0;
        font-size: 0.9rem;
    }
