body {
  background: url("images/Desktop_1.png") no-repeat top center;
  background-size: 100% auto;
  margin: 0;
  padding: 0;
  background-color: #e6ecf0;
  color: #333;
}

header {
    text-align: center;
    margin-top: 6200px;
}

/*-------------------------------------*/
/* Texto Inicial e Final */
main section.texto,
main section.texto-final {
    padding: 40px 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: left;
}

/* Secaoo Grafico + Texto lado a lado */
.grafico-e-texto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  padding: 40px 20px;
  max-width: 1200px;
  margin: 0 auto;
  gap: 20px;
}

.grafico-e-texto .texto {
  flex: 1 1 55%;
  max-width: 80%;
  font-size: 1em;
}

.grafico-e-texto .grafico {
  flex: 1 1 40%;
  max-width: 40%;
  /*background-color: #ffffff;*/
  padding: 20px;
  border-radius: 12px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

#sunburst-graph {
    max-width: 400px;
    margin: 0 auto;
    margin-right: 5%;
    /*border-radius: 10px;*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

/*-------------------------------------*/
/* Tipografia */
h1 {
    font-family: 'KensingtonDemi', sans-serif;
    color: #e5d5b2;
    font-weight: 5000; 
    font-style: normal; 
    font-size: 100pt; 
    line-height: 96px; 
    letter-spacing: 1px;
    text-transform: none; 
}

#titulo {
    text-align: center;
    margin-top: 100px;
    position: relative;
    transition: transform 0s ease;
    text-stroke: 2px black;
    font-size: 80pt;
    letter-spacing: 1px;
}

h2,
h3 {
    color: #E5D5B2;
    font-family: 'KensingtonDemi', sans-serif;
    font-weight: 5000;
    font-style: normal;
    font-size: 36pt;
    line-height: 96px;
    letter-spacing: 1px;
    text-transform: none;
}

p {
    font-family: 'NewYork', serif;
    font-size: 20pt;
    line-height: 32pt;
    letter-spacing: -0.4px;
    color: white;
    margin-bottom: 10px;
}

#whiteSpace{
    padding-bottom: 1100px;
}

/*Style dos flashcards*/

.cards-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card {
    height: 600px;
    width: 400px;
    border-radius: 10px;
    /*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);*/
    overflow: visible;
    text-align: center;
    perspective: 1000px; /* Para o efeito de 3D */
    background-color: #1a304c;
}

.card-inner {
  width: 90%;
  height: 95%;
  margin-left: 7px; /* tava foda de centralizar essa merda */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card img {
  display: block;
  margin: auto;
  width: 80%;
  height: 50%;
  object-fit: cover;
  border-radius: 10px;
}

.card.flipped .card-inner {
  transform: rotateY(180deg); /* Efeito de flip */
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  border-radius: 10px;
  /*box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);*/
  padding: 15px;
  background: #082441;
}

.card-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-front h3 {
  font-size: 1.5em;
  font-family: 'NewYork', serif;
  font-size: 18pt;
}
.card-front p {
  margin: 0px 0;
  font-family: 'NewYork', serif;
  font-size: 10pt;
}

.card-back {
  height: 100%;
  width: 100%;
  transform: rotateY(180deg) translateX(20px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-back p {
  margin: 10px 0;
  font-family: 'NewYork', serif;
  font-size: 15pt;
}

#grafico {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
}

#anoSelecionado {
  display: none;
}

select {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

select:hover {
  border-color: #007bff;
}

/*-------------------------------------*/
/* Nuvem de Palavras */
#palavras-container {
  position: relative;
  width: 80%;
  max-width: 1200px;
  height: 500px;
  background: rgba(255, 255, 255, 0.95);
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

/* Estilo do "balão" de cada palavra */
.cloud {
  position: absolute;
  padding: 10px 20px;
  background: #fff;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* Animação de flutuação suave */
  animation: flutuar 4s ease-in-out infinite;
  transition: transform 0.3s, box-shadow 0.3s;
}

/* Estilo do link dentro da nuvem */
.cloud a {
  display: block;
  text-decoration: none;
  color: #333;
  font-weight: bold;
  transition: transform 0.3s, color 0.3s;
}

/* Efeito hover para realçar a nuvem */
.cloud:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.cloud:hover a {
  color: #ff4081;
}

/* Animação de flutuação suave */
@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}

/*------------------------------------------------------*/
/*Style do mapa de reduto eleitoral*/

#iframeContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    background-color: #071b3b;
    max-width: auto;
    margin-left: auto;
    margin: 0;
    width: 100%;
    height: auto;
    align-items: center;
    box-sizing: border-box;
}

iframe {
    width: 80%;
    height: 500px;
    border: none;
    display: none;
}

#iframeSelector {
    background-color: #1a304c;
    color: white;
}

/*-------------------------------------*/
/* Imagens Flutuantes */
.image-container {
  position: relative;
  width: 80%;
  max-width: 500px;
  height: auto;
}

.fallMan {
  position: fixed;
  top: 0;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

#fallMan1 {
  left: 5%;
  transform: scale(0.8) rotate(10deg);
  opacity: 0.8;
  width: 350px;
}

#fallMan2 {
  left: 30%;
  transform: scale(1) rotate(-5deg);
  opacity: 1;
  margin-top: 30%;
  width: 200px;
}

#fallMan3 {
  left: 60%;
  transform: scale(1.2) rotate(10deg);
  opacity: 0.9;
  margin-top: 28%;
  width: 100px;
}

#fallMan4 {
  left: 70%;
  transform: scale(0.6) rotate(-15deg);
  opacity: 0.9;
  width: 350px;
}

/*--------------------------------------------------------------------------*/
/* Estilo do carrossel */
.grafico-carrossel {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
}

/* Botões de navegação */
.carousel-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
}

#prevGraph {
  left: 10px;
}

#nextGraph {
  right: 10px;
}

/*-----------------------------------------------------------------------*/
.descricao {
  font-size: 1.2em;
}


/*----------------------------------------------------------------------*/
/* Estilo para o círculo branco com o ícone "i" */
.info-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: white;
    color: black;
    border-radius: 50%;
    font-size: 25px;
    font-style: normal;
    border: 1px solid #ccc;
    cursor: pointer;
    position: relative;
    left: 50%;
}

.info-icon::after {
        content: attr(data-tooltip); 
        position: absolute;
        bottom: 120%; 
        left: 50%;
        transform: translateX(-50%);
        padding: 5px 10px;
        background-color: black;
        color: white;
        font-size: 12px;
        border-radius: 4px;
        white-space: nowrap; 
        opacity: 0;
        visibility: hidden; 
        transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    .info-icon:hover::after {
        opacity: 1;
        visibility: visible;
    }
/*---------------------------------------------------------------------*/
#centro {
    flex: 1 1 40%;
    max-width: 100%;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
/*------------------ FONTE --------------*/
@font-face {
    font-family: "Lora";
    src: url("fonts/Lora.ttf") format("truetype");
}

/* Declaração da fonte personalizada */
@font-face {
    font-family: 'KensingtonDemi';
    src: url('fonts/KensingtonDemi.otf') format('opentype');
}

@font-face {
    font-family: "NewYork";
    src: url("fonts/NewYorkMedium-Regular.otf") format("truetype");
}

/*------------------------------------------------------------------------*/

#centro {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: center;
    text-align: center;
    padding: 20px; 
    max-width: 1000px; 
    margin: 0 auto; 
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}
    #centro p {
        font-family: 'NewYork', serif;
        font-size: 20pt;
        line-height: 32pt;
        letter-spacing: -0.4px;
        color: white;
        margin-bottom: 10px;
    }

#palavras-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 10px; 
    width: 100%; 
}

.linha-separadora {
    width: 80%; 
    height: 1px; 
    background-color: #ccc; 
    margin: 20px auto; 
}